body {
    background: black;
    color: #bbbbbb;
}
pre {
  font-family: "DejaVu Sans Mono", Menlo, "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 1.5em;
  line-height: 1em;
}
